<section class="child-settings">
    <div class="child-settings__plan">
        <img src="./assets/images/child.jpg" alt="Child Image">
        <div>
            <h3>دارای تنظیمات مخصوص کودکان!</h3>
            <p>نگران تغییر تنظیمات بانواز توسط فرزند عزیزت نباش!</p>
            <button class="btn btn--primary">دانلود بروشور</button>
        </div>
    </div>
    <div class="child-settings__plan">
        <img src="./assets/images/Device.svg" alt="Device Image">
        <div>
            <h3>مدیریت خانه روی گوشی</h3>
            <p>با دانلود اپلیکیشن بانواز میتونی تمامی سنسورها رو روی گوشیت مشاهده و کنترل کنی</p>
            <button class="btn btn--secondary">دانلود اپلیکیشن</button>
        </div>
    </div>
</section>