    <header>
        <div class="container block">
            <div class="header">
                <div class="header__brand">
                    <img src="./assets/images/logo.svg" alt="Banvaaz Logo">
                </div>
                <div class="header__btns" id="mobile-btns">
                    <button class="btn header-btn">فروشگاه بانواز</button>
                    <div class="hamburger-menu nav__toggler">
                        <div class="hamburger-menu__line1 hbr-menu__line"></div>
                        <div class="hamburger-menu__line2 hbr-menu__line"></div>
                        <div class="hamburger-menu__line3 hbr-menu__line"></div>

                    </div>
                </div>
                <nav class="nav">
                    <ul>
                        <li class="list_item"><a href="#">خانه</a></li>
                        <li class="list_item"><a href="#">فروشگاه</a></li>
                        <li class="list_item"><a href="#">درباره ما</a></li>
                    </ul>
                    <div class="header__btns">
                        <button class="btn header-btn" id="panel-login">ورود به داشبورد</button>
                        <button class="btn btn--secondary" id="shop-btn">دانلود اپلیکیشن</button>

                    </div>
                </nav>
            </div>
        </div>

    </header>