<section class="pro-option-main">
    <div class="container block">
        <h2>قابلیت های ویژه بانواز</h2>
        <div class="pro-options">
            <div class="option">
                <img src="./assets/images/pro-options4.svg" alt="Option Image1" loading="lazy">
                <p>سنسور هایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش مصنوعی گرسنه بودن اون رو تشخیص بدن!</p>
            </div>
            <div class="option">
                <img src="./assets/images/pro-options3.svg" alt="Option Image1" loading="lazy">
                <p>با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاه ها آب بدی!</p>
            </div>
            <div class="option">
                <img src="./assets/images/pro-options2.svg" alt="Option Image1" loading="lazy">
                <p>میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی.یا حتی برای روشن بودن اونها از بانواز کمک بگیری</p>
            </div>
            <div class="option">
                <img src="./assets/images/pro-options1.svg" alt="Option Image1" loading="lazy">
                <p>باز و بسته شدن درب ها و پنجره ها تشخیص حضور انسان و کلی قابلیت دیگه در سنسور های بانواز!</p>
            </div>
        </div>
    </div>
</section>