<section class="top-features">
    <div class="feature">
        <div class="feature__img">
            <img src="./assets/images/Vector2.svg" alt="Feature Icon Door">
        </div>
        <p>درب و پنجره</p>
    </div>
    <div class="feature">
        <div class="feature__img">
            <img src="./assets/images/Vector.svg" alt="Feature Icon Door">
        </div>
        <p>گل و گیاه</p>
    </div>
    <div class="feature">
        <div class="feature__img">
            <img src="./assets/images/plug.svg" alt="Feature Icon Door">
        </div>
        <p>وسایل برقی</p>
    </div>
    <div class="feature">
        <div class="feature__img">
            <img src="./assets/images/lamp.svg" alt="Feature Icon Door">
        </div>
        <p>روشنایی</p>
    </div>
    <div class="feature">
        <div class="feature__img">
            <img src="./assets/images/fire_place.svg" alt="Feature Icon Door">
        </div>
        <p>گرمایشی</p>
    </div>
    <div class="feature">
        <div class="feature__img">
            <img src="./assets/images/dog.svg" alt="Feature Icon Door">
        </div>
        <p>حیوانات</p>
    </div>
</section>